<!DOCTYPE html>
<html>
    <head>
    {% block title %}
    {% if title %}
    <title>{{  title  }}</title>
    {% else %}
    <title></title>
    {% endif %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('_dash_dash_assets.static', filename='styles.css') }}">
    </head>
    <body>
        {% block content %}
        <div class="navbar">
            {% block mainmenu %}
            <ul class="mainmenu">
                <li><a href="{{ url_for('main_page') }}">Главная страница</a></li>
                <li>|</li>
                <li><a href="{{ url_for('/dash/') }}">Дашборд</a></li>
                <li>|</li>
                <li><a href="{{ url_for('calculator') }}">Калькулятор</a></li>
            </ul>
            {% endblock mainmenu %}
            <div class="button-container">
                <a href="{{ url_for('export_to_excel')}}" class="excel-button">
                    Выгрузить в .xlsx</a>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
